<section class="section style-three pb-0" style="min-height:100vh">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
            <div class="section-title">
              <h1><span>Update Appointment</span></h1>
            </div>
            <form class="default-form contact-form" >
                <mat-form-field >
                  
                </mat-form-field>
                <div class="row form-group">
                  <div class="container-login100-form-btn" style="height: 10px; padding-top: 20px" >
                    <button class="btn-style-one">
                      Update department
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>

