<div style="height: calc(100vh - 169px);">

    <div class="section-title" style="margin-left:20%; margin-top:30px">
        <h1>Hospital Departments</h1>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Department</th>
                <th>N. Doctors</th>
                <!-- <th>Change Doctors</th> -->
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of departments">
                <td>{{ d.name }}</td>
                <td>{{ d.doctors }}</td>
                <!-- <td style="padding-left:auto;padding-right:auto;">
                    <a  class="nav-link" routerLink="updatedepartment/{{d.name}}" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>refresh</mat-icon></a>
                </td> -->
                <td>
                    <a (click)="deleteDepartment(d.name)" class="nav-link"><mat-icon>delete</mat-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>