<footer class="footer-main">
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2021. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
