<section class="section style-three pb-0" style="min-height:100vh">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
            <div class="section-title">
              <h1><span>Update Appointment</span></h1>
            </div>
            <form class="default-form contact-form" [formGroup]="profileForm" *ngIf="department && date && message">
                <mat-form-field>
                  <mat-label>{{department}}</mat-label>
                  <mat-select
                    value="{{department}}"
                    placeholder="{{department}}"
                    formControlName="department"
                  >
                    <mat-option
                      *ngFor="let department of departments"
                      value="{{ department.name }}"
                      >{{ department.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>{{date}}</mat-label>
                  <input
                  value="{{date}}"
                    formControlName="date"
                    matInput
                    [matDatepicker]="myDatePicker"
                    [min]="minDate"
                  />
                  <mat-datepicker-toggle
                    [for]="myDatePicker"
                    matSuffix
                  ></mat-datepicker-toggle>
                  <mat-datepicker #myDatePicker ></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>{{message}}</mat-label>
                  <textarea
                    formControlName="message"
                    matInput
                  ></textarea>
                </mat-form-field>
                <div class="row form-group">
                  <div class="container-login100-form-btn" style="height: 10px; padding-top: 20px" >
                    <button (click)="saveForm()" class="btn-style-one">
                      Update Appointment
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
