<div style="height: calc(100vh - 169px);" >

    <mat-form-field appearance="fill" style="width:40%; margin-left:10%; margin-top:30px">
        <mat-label>Select A Department</mat-label>
        <mat-select  #mapOption (selectionChange)="selectChange(mapOption)" >
            <mat-option>All Departments</mat-option>
            <mat-option *ngFor="let d of departments" [value]="d.name">
                {{d.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of doctors" >
                <td>{{ doc.id }}</td>
                <td>{{ doc.first_name }} {{ doc.last_name }}</td>
                <td>{{ doc.email }}</td>
                <td>{{ doc.password }}</td>
            </tr>
        </tbody>
    </table>
</div>
