<section class="header-uper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-3">
        <div class="logo">
          <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img loading="lazy" class="img-fluid" src="/assets/images/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-xl-8 col-lg-9">
        <div class="right-side">
          <ul class="contact-info pl-0 mb-4 mb-md-0">
            <li class="item text-left">
              <div class="icon-box">
                <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
              </div>
              <strong>Email</strong>
              <br>
              <a>
                <span>info@medic.com</span>
              </a>
            </li>
            <li class="item text-left">
              <div class="icon-box">
                <fa-icon [icon]="faPhone" class="icon"></fa-icon>
              </div>
              <strong>Call Now</strong>
              <br>
              <span>+ (88017) - 123 - 4567</span>
            </li>
          </ul>
          <div class="link-btn text-center text-lg-right" *ngIf="userType == 'patient'">
            <a routerLink="/appointment" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn-style-one">New Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #48bdc5!important">
  <div class="navbar w-100 order-1 order-md-0 dual-collapse2" style="padding-left:15%">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
      </li>
      <li class="nav-item" *ngIf="userType != 'doctor' && userType != 'dean'">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT</a>
      </li>
      <li class="nav-item" *ngIf="userType == 'patient'">
        <a class="nav-link" routerLink="/myappointments" routerLinkActive="active" ariaCurrentWhenActive="page">MY APPOINTMENTS</a>
      </li>

      <li class="nav-item" *ngIf="userType == 'doctor'">
        <a class="nav-link" routerLink="/myappointmentsdoctor" routerLinkActive="active" ariaCurrentWhenActive="page">MY APPOINTMENTS</a>
      </li>
      <li class="nav-item" *ngIf="userType == 'doctor' || userType == 'patient'">
        <a class="nav-link" href="/myprescriptions">MY PRESCRIPTIONS</a>
      </li>

      <li class="nav-item" *ngIf="userType == 'dean'">
        <a class="nav-link" routerLink="/departments" routerLinkActive="active" ariaCurrentWhenActive="page">DEPARTMENTS</a>
      </li>
      <li class="nav-item" *ngIf="userType == 'dean'">
        <a class="nav-link" routerLink="/doctors" routerLinkActive="active" ariaCurrentWhenActive="page">DOCTORS</a>
      </li>

      <li class="nav-item" *ngIf="userType != 'doctor' && userType != 'dean'">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a>
      </li>
    </ul>
  </div>
  <div class="navbar w-50 order-3 dual-collapse2"  style="padding-right:20%">
    <ul class="navbar-nav ml-auto" *ngIf="!is_authenticated">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">SIGN UP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">LOGIN</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="is_authenticated">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>